/* Soft Button Styles (Velzon Style) */
.btn-soft-warning {
  color: #f7b84b;
  background-color: rgba(247, 184, 75, 0.1);
  border: none;
}
.btn-soft-warning:hover {
  color: #fff;
  background-color: #f7b84b;
}

.btn-soft-danger {
  color: #f06548;
  background-color: rgba(240, 101, 72, 0.1);
  border: none;
}
.btn-soft-danger:hover {
  color: #fff;
  background-color: #f06548;
}

.font-size-12 {
  font-size: 12px;
  letter-spacing: 0.5px;
}

/* 1. Speeds up the dark background fading in */
.modal.fade {
  transition: opacity 0s   linear !important;
}

/* 2. Speeds up the actual white modal box sliding down */
.modal.fade .modal-dialog {
  transition: transform 0.1s ease-out !important;
}
